body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Transgender_Pride_flag.svg/1200px-Transgender_Pride_flag.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img{
    margin:0 auto !important;
    width: 50% !important;
    height:  auto !important;
}
.image{
    text-align: center !important;
   
}
@media screen and (max-width: 1000px) {
    img{
        
        width: 100% !important;
        height:  auto !important;
    }
}