body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Transgender_Pride_flag.svg/1200px-Transgender_Pride_flag.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img{
    height: 600px!important;
    width: auto !important;
    margin:0 auto !important;
}
.image{
    text-align: center !important;
   
}